<div class="about">
    <h1>Olá, Site em produção</h1>
    <p>
        Olá, obrigado por chegar aqui, este é um site que eu (Gabriel Machado) estou desenvolvendo com o intuito de <br>aumentar meus trabalhos com desenvolvimento de sites.
    </p>
    <p>
        Neste desafio eu estou criando um site que pode me dar uma renda extra, ele se parecerá com um site <br> e-commerce só que todos os produtos que estarão aqui serão links para a Amazon.com onde eu <br> ganho uma pequena comissão se você comprar através dos links neste site.
    </p>
    <p>
        O botão a seguir te levará ao site da Amazon onde você pode me ajudar comprando o que você quiser pra voce mesmo. <br> Isso mesmo, você não vai me dar nada, você vai comprar o que quer e eu ganho minha comissão.
    </p>
</div>
