<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=gabrielmach0e-20&language=pt_BR&marketplace=amazon&region=BR&placement=B07JM7DR7K&asins=B07JM7DR7K&linkId=1d925ca81e7dfe9eefc65338618bcc7e&show_border=true&link_opens_in_new_window=true"></iframe>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>