<div class="home">

    
    <a href="https://www.amazon.com.br/Computadores-Informatica/b?ie=UTF8&node=16339926011&linkCode=ll2&tag=gabrielmach0e-20&linkId=0b8212e97c1032240c7934f8934fcbec&language=pt_BR&ref_=as_li_ss_tl">Seão de Computadores e Informática</a>

    <a
        href="https://www.amazon.com.br/?&_encoding=UTF8&tag=gabrielmach0e-20&linkCode=ur2&linkId=d29c2e74d6624ebd26f043f4497103c5&camp=1789&creative=9325">Link geral
        para Amazon</a>
    <h2>Olá, Site em produção</h2>
</div>